@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Teko:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 1;
    outline: indigo;
    scroll-behavior: smooth;
    font-family: "Teko", sans-serif;
}

:root {
    --bg-color: #0c194e;
    --snd-bf-color: #bfc3f3;
    --text-color: #fffafa;
    --main-color: #5982f4;
}

html {
    font-size: 62.7%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3.4rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    text-shadow: 1px 1px 1px yellow;
}

.header .logo a {
    padding-left: 20%;

}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .day-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .night-mode {
    background-color: #2c3e50;
    color: #ffffff;
  }
  
  /* Toggle Button with Symbols */
  .toggle-label {
    position: relative;
    display: inline-block;
    width: 81px;
    height: 31px;
  }
  
  .toggle-label input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.6s;
    border-radius: 50px;
  }
  
  .slider:before {
    position: absolute;
    content: "☀️";
    font-size: 21px;
    height: 25px;
    width: 24px;
    bottom: 6px;
    transition: 0.6s;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:checked + .slider:before {
    content: "🌙";
    transform: translateX(50px);
  }
  
.navbar a {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.home-content h3 span {
    color: var(--main-color);
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 25vw;
    animation: floatimage 4s ease-in-out infinite;
}

@keyframes floatimage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 3.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.download-btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 3.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    text-shadow: 1px 1px 1px yellow;
}

.download-btn:hover {
    background: var(--main-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 3.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    background: var(--main-color);
    color: var(--snd-bf-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--snd-bf-color);
}


.heading {
    text-align: center;
    font-size: 5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 2;
    text-shadow: 1px 1px 1px yellow;
}

.about-content h3 {
    font-size: 2.9rem;
    text-shadow: 1px 1px 5px black;
}

.about-content p {
    font-size: 2.6rem;
    margin: 2rem 0 3rem;
    text-shadow: 1px 1px 1px white;
    color: black;
}

.about-content ul {
    font-size: 2.2rem;
    margin: 2rem 0 3rem;
    text-shadow: 3px 3px 5px black;
    color: white;
}


.services {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 20px;
    color: darkblue;
    text-shadow: 1px 1px 5px yellow;
}

.heading span {
    color:  darkblue;
    text-shadow: 1px 1px 5px yellow;
}


.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
}

.services-card {
    background-color: white;
    border-radius: 35px;
    box-shadow: 0 4px 20px yellowgreen;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px); /* Responsive width with margin consideration */
    max-width: calc(33.333% - 40px);
    min-width: 280px;
    transition: transform 0.3s ease;
}

.services-card:hover {
    transform: translateY(-15px);
}

.services-card h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
    text-shadow: 0px 0px 2px yellow;
}

.services-card p {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #666;
    text-shadow: 1px opx 2px blue;
}

.services-card ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.services-card ul li {
    margin-bottom: 5px;
}

.services-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.services-card .btn:hover {
    background-color: #e5533c;
}

@media (max-width: 768px) {
    .project-card {
        flex: 1 1 calc(50% - 40px); /* Two cards per row on tablet */
    }
}

@media (max-width: 576px) {
    .project-card {
        flex: 1 1 100%; /* One card per row on mobile */
    }
}


.certifications {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.certifications .heading {
    text-align: center;
    font-size: 3 rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px yellow;
}

.certifications .heading span {
    color: #ff6347;
}

.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.certification-card {
    background-color: white;
    border-radius: 50px;
    box-shadow: 2px 4px 8px black;
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px); /* Responsive width with margin consideration */
    max-width: calc(33.333% - 40px);
    min-width: 280px;
    transition: transform 0.5s ease;
    text-align: center;
}

.certification-card:hover {
    transform: translateY(-10px);
}

.certification-card h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
    text-shadow: 0px 0px 1px blue;

}

.certification-card p {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #666;
}

.certification-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 10px;
    background-color: #ff6347;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.certification-card .btn:hover {
    background-color: gray;
    
}

@media (max-width: 768px) {
    .certification-card {
        flex: 1 1 calc(50% - 40px); /* Two cards per row on tablet */
    }
}

@media (max-width: 576px) {
    .certification-card {
        flex: 1 1 100%; /* One card per row on mobile */
    }
}


.contact h2 {
    margin-bottom: 1.5rem;
    font-size: 5rem;
}

.contact form {
    max-width: 100rem;
    margin: 9rem auto;
    text-align: center;
    margin-bottom: 6rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 3rem;
    
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 3rem;
    font-size: 3rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

footer {
    background-color: skyblue;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    text-shadow: 1px 0px 3px yellow;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

footer p {
    margin: 0;
    font-size: 2rem;
}

.footer-buttons {
    margin-top: 15px;
    cursor: pointer;
}

.footer-btn {
    display: inline-block;
    margin: 5px 10px;
    padding: 4px 10px;
    background-color: #ff6347;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}

.footer-btn:hover {
    background-color: grey;
    
}


@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width:991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3%;
    }
    .services {
        padding: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width:768px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar .active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 90vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img {
        width: 90vw;
        margin-top: 4rem;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
    .portfolio h2 {
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2 1fr);
    }
}

@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: 2fr;
    }
    .home-img img {
        width: 80vw;
        margin-top: 4rem;
    }
    .about-img img {
        width: 100vw;
        margin-top: 4rem;
    }
    @media(max-width:450px) {
        html {
            font-size: 50%;
        }
    }
    .contact form .input-box input {
        width: 100%;
    }
}

.view-site-btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
    padding: 1px 2px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.view-site-btn:hover {
    background-color: var(--bg-color);
}

.portfolio-box {
    transition: transform 0.3s ease-in-out;
}

.portfolio-box:hover {
    transform: scale(2.05) translateX(20px);
}


  
 
.skill {
    max-width: 900px; 
    margin: 20px auto; 
  }
  
  
  .skill-bars {
    display: flex;
    flex-direction: column; 
    align-items: left; 
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .heading1 {
    font-weight: bold;
    text-decoration: dotted;
    text-shadow: 1px 1px 5px orange;
    font-size: 23px;
  }
  
  .bars {
    width: 100%;
    margin: 10px px;
    text-align: left;
  }
  
  .bars i {
    font-size: 48px;
  }
  
  .info {
    margin-top: 50px;
    font-size: 18px;
  }
  
  .progress-line {
    background-color: #ddd;
    border-radius: 50px;
    height: 20px;
    width: 100%;
    margin-top: 5px;
  }
  
  .progress-line span {
    display: block;
    height: 100%;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
  }
  
  .progress-line span.percentage {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 6px;
  }
  
  .progress-line span:before {
    content: attr(data-progress);
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
  }
  
  .progress-line.html span {
    width: 75%;
    background-color: orange;
  }
  
  
  .progress-line.css span {
    width: 70%;
    background-color: skyblue;
  }
  
  
  .progress-line.video span {
    width: 80%;
    background-color: red;
  }
  
  
  @keyframes progress {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  
  .progress-line span {
    animation: progress 2s ease-in-out;
  }
  
  .progress-line span {
    transition: width 2s ease-in-out;
  }
  
  
  .bars:hover .progress-line span {
    width: 100%;
  }